
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.dataTables_filter label input {
    border-radius: 25px;
    padding: 8px 12px;
}
.form-control {
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}