<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
   <!-- <nav class="navbar navbar-default no-margin">
     Brand and toggle get grouped for better mobile display
       <div class="navbar-header fixed-brand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
 <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
 </button>
         
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
             </li>
          </ul>
       </div>
    </nav>  -->
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
               <a routerLink="dashboard"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-dashboard fa-stack-1x "></i></span>
                  Dashboard</a>
               <!-- <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="#">link1</a></li>
                  <li><a href="#">link2</a></li>
               </ul> -->
            </li>
            <li>
               <a routerLink="doctors"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-flag fa-stack-1x "></i></span>Doctors</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a routerLink="doctors/add"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-flag fa-stack-1x "></i></span>add doctor</a></li>
                  <li><a [routerLink]="['doctors/list']"><span class="fa-stack fa-lg pull-left">
                           <i class="fa fa-flag fa-stack-1x "></i></span>list doctors</a></li>
                  <li><a [routerLink]="['doctors/update/11']"><span class="fa-stack fa-lg pull-left">
                           <i class="fa fa-flag fa-stack-1x "></i></span>update doctor</a></li>
               </ul>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-cloud-download fa-stack-1x "></i></span>Patient</a>
            </li>
            <li>
               <a [routerLink]="['department']"> <span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-cart-plus fa-stack-1x "></i></span>Department</a>
            </li>
            <li>
               <a routerLink="appointment"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-flag fa-stack-1x "></i></span>Appointment</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a [routerLink]="['appointment/add']"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-flag fa-stack-1x "></i></span>add Appointment</a></li>
                  <li><a [routerLink]="['appointment/list']"><span class="fa-stack fa-lg pull-left">
                           <i class="fa fa-flag fa-stack-1x "></i></span>list doctors</a></li>
               </ul>
            </li>
            <li>
               <a routerLink="admin/doctors/add"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
            </li>
            <li>
               <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
            </li>
            <li>
               <a (click)="logout()" ><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Logout</a>
            </li>
         </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->

      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
               <nav aria-label="breadcrumb" class="ms-panel-custome">
                  <ol class="breadcrumb pl-0">
                     <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                     <li class="breadcrumb-item"><a href="#"> {{pageTitle}} </a></li>
                     <li class="breadcrumb-item active" aria-current="page"> {{pageTitle}} </li>
                  </ol>
               </nav>
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
   </div>
   <!-- <div id="page-content-wrapper">
         <div class="container-fluid xyz">
            <div class="row">
               <div class="col-lg-12">
                 <router-outlet></router-outlet>
                 
               </div>
            </div>
         </div>
      </div> -->
   <!-- /#page-content-wrapper -->

   <!-- /#wrapper -->
</body>