<div class="container">
  <div  class="card">
    <div class="imgBx">
      <img src="./assets/img/nur.png">
    </div>
    <div class="contentBx">
      
      <h2>Dr.Ali yilmaz</h2>
      <!-- <div class="size">
        <h3>Doctor of Med'cal S'emce</h3>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div> -->
 <!-- <mat-icon>facebook</mat-icon> -->
      <div class="color">
        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div> 
      <a href="#">Buy Now</a>
    </div>
  </div>
  <div  class="card">
    <div class="imgBx">
      <img src="./assets/img/nur.png">
    </div>
    <div class="contentBx">
      
      <h2>Dr.Ali yilmaz</h2>
      <!-- <div class="size">
        <h3>Doctor of Med'cal S'emce</h3>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div> -->
 <!-- <mat-icon>facebook</mat-icon> -->
      <div class="color">
        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div> 
      <a href="#">Buy Now</a>
    </div>
  </div>
  <div  class="card">
    <div class="imgBx">
      <img src="./assets/img/nur.png">
    </div>
    <div class="contentBx">
      
      <h2>Dr.Ali yilmaz</h2>
      <!-- <div class="size">
        <h3>Doctor of Med'cal S'emce</h3>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div> -->
 <!-- <mat-icon>facebook</mat-icon> -->
      <div class="color">
        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div> 
      <a href="#">Buy Now</a>
    </div>
  </div>
  <div  class="card">
    <div class="imgBx">
      <img src="./assets/img/nur.png">
    </div>
    <div class="contentBx">
      
      <h2>Dr.Ali yilmaz</h2>
      <!-- <div class="size">
        <h3>Doctor of Med'cal S'emce</h3>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div> -->
 <!-- <mat-icon>facebook</mat-icon> -->
      <div class="color">
        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div> 
      <a href="#">Buy Now</a>
    </div>
  </div>

</div>
<p>sadsa</p>
<app-card></app-card>
<app-table></app-table>

<!-- <div class="container">
  <div *ngFor="let d of doctors" class="card">
    <div class="imgBx">
      <img src="./assets/img/d.img">
    </div>
    <div class="contentBx">
      <h2>{{d.name}}</h2>
      <div class="size">
        <h3>{{d.speciality}}</h3>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>
      <div class="color">
        <h3>Color :</h3>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="#">Buy Now</a>
    </div>
  </div>
</div> -->