<div class="modal-header">
    <h4 class="modal-title">{{name}}</h4>
    <button type="button" lass="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-7 col-md-12">
            <form [formGroup]="modelForm" class="needs-validation was-validated" novalidate="">
                <app-upload (OnUpload)="uploadImage($event)"></app-upload>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom0001">Doctor Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="name"
                                required="">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom0002">address</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="address" 
                                required="">

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom0003">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" formControlName="email"
                                required="">

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom0002">Number Phone</label>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="tel"
                                required="">

                        </div>
                        <label for="validationCustom0002">Gender</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="gender" 
                                required="">

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom0005">Experinece</label>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="experinece"
                               required="">

                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="validationCustom6">Speciality</label>
                        <div class="input-group">
                            <select  class="form-control" formControlName="speciality" required="">
                                <option value="">Neurology</option>
                                <option value="">Gynaecology</option>
                                <option value="">Microbiology</option>
                                <option value="">Pharmacy</option>
                                <option value="">Neonatal</option>
                            </select>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary mt-4 d-inline w-20" *ngIf="doctor.id" (click)="update()" type="submit">Update</button>
    <button *ngIf="!doctor.id" class="btn btn-primary mt-4 d-inline w-20" (click)="save()" type="submit">Save</button>
    <!-- <button [disabled]="updateGroup.invalid" class="btn btn-primary mt-4 d-inline w-20" (click)="update()" type="submit">Update</button> -->
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>